<!DOCTYPE html>
<html lang="hu"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Cím: Ha a beágyazott oldal definiál címet, azt használja, egyébként az alapértelmezettet -->
    <title layout:title-pattern="$CONTENT_TITLE | $LAYOUT_TITLE" th:text="#{app.title}"></title>
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">
    <link rel="stylesheet" th:href="@{/assets/style-1.0.0.css}">
    <script type="module" th:src="@{/assets/main-1.0.0.js}"></script>
</head>
<body>
<th:block th:replace="~{fragments/header :: header}"></th:block>
<main>
    <div layout:fragment="content"></div><!-- Alapértelmezett tartalom, ha nincs felüldefiniálva -->
</main>
<th:block th:replace="~{fragments/footer :: footer}"></th:block>
</body>
</html>